.vscode/
.zig-cache/
zig-out/
obj/
**/bin
out/**
logs/
*.lscache
src/shared/reference/*
src/shared/reference/*
BenchmarkDotNet.Artifacts/**
**/BenchmarkDotNet.Artifacts/**
*.suo
.vs/**
backup/**
**secret_key_file**
task_def_last.json
update_service_last.json
task_def_last.json
update_service_last.json
start_service_last.json
