.vscode/
.zig-cache/
zig-out/
obj/
bin/
logs/
*.lscache
src/shared/reference/Dr. Strangelove (1964) Criterion (1080p BluRay x265 10bit Tigole).mkv
src/shared/reference/Training Day 2001 BrRip 1080p x264 YIFY.mp4
