.vscode/
.zig-cache/
zig-out/
obj/
**/bin
logs/
*.lscache
src/shared/reference/*
src/shared/reference/*
BenchmarkDotNet.Artifacts/**
**/BenchmarkDotNet.Artifacts/**
*.suo
.vs/**
backup/**
**secret_key_file**
